h1,h2,h3,h4,h5,h6 {
    font-family: 'Vollkorn', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

body{
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-weight:300;
}

#name{
    font-size: 3em;
}

#description{
    font-size: 1.5em;
}

#picture{
    height: 400px;
    width: 350px;
    border-radius: 15px;
}
